  <link rel="stylesheet" type="text/css" href="./ext/micogian/lastpictures/includes/jcarousel_responsive.css"> 
  <link rel="stylesheet" type="text/css" href="./ext/micogian/lastpictures/includes/highslide.css">
  <script type="text/javascript" src="./ext/micogian/lastpictures/includes/jquery.js"></script>
  <script type="text/javascript" src="./ext/micogian/lastpictures/includes/jquery_jcarousel.min.js"></script>
  <script type="text/javascript" src="./ext/micogian/lastpictures/includes/jcarousel_responsive.js"></script>
  <script type="text/javascript" src="./ext/micogian/lastpictures/includes/highslide-with-gallery.js"></script>
