<div class="forumbg announcement">
	<div class="inner"><span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
					<dt>Ultime immagini del Forum</dt>
				</dl>
			</li>
		</ul>
		<ul class="topiclist topics">
			<li class="row bg1">
				<div class="wrap_carousel">
					<div class="jcarousel-wrapper">
						<div class="jcarousel">
							<ul>
								<!-- BEGIN last_pictures -->
								<li>								
									<span><a href="{last_pictures.LAST_TOPIC_LINK}" title="vai al Topic">{last_pictures.LAST_SHORT_TITLE}</a></span><br />
									<a href="{last_pictures.LAST_ATTACH_LINK}" class="highslide" title="{last_pictures.LAST_FORUM_SHORT}" onclick="return hs.expand(this)">
									<img style="height: 100px; border: 2px solid #FFFFFF;" src="{last_pictures.LAST_THUMBS}"  alt="clicca per ingrandire" title="{last_pictures.LAST_TOPIC_TITLE}" /></a>
									<span>di {last_pictures.LAST_TOPIC_AUTHOR}</span>
									<div class="highslide-heading">{last_pictures.LAST_TOPIC_TITLE}</div>
									<div class="highslide-caption">
										<div style="float:left; font-size: 12px; color: #59550C; text-align: left;">in {last_pictures.LAST_FORUM_NAME}<br />di {last_pictures.LAST_TOPIC_AUTHOR}</div>
										<div style="float:right; text-align: right;"><a href="{last_pictures.LAST_TOPIC_LINK}" title="vai al Topic">Apri il Topic</a></div>
										<div style="clear: both;"></div>
									</div>
								</li>
								<!-- END last_pictures -->
							</ul>
						</div>
						<a href="#" class="jcarousel-control-prev">&lsaquo;</a>
						<a href="#" class="jcarousel-control-next">&rsaquo;</a>

						<p class="jcarousel-pagination"></p>
					</div>
				</div>
			</li>   
		</ul>
	<span class="corners-bottom"><span></span></span></div>
</div>
<div style="clear: both;"></div>
<br />
