<link type="text/css" href="./ext/micogian/lastpictures/includes/jcarousel.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet" />
<link type="text/css" href="./ext/micogian/lastpictures/includes/highslide.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet" />
<link type="text/css" href="./ext/micogian/lastpictures/includes/lastpictures.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet" />

<script type="text/javascript" src="./ext/micogian/lastpictures/includes/jquery.js?assets_version={T_ASSETS_VERSION}"></script>
<script type="text/javascript" src="./ext/micogian/lastpictures/includes/jquery_002.js?assets_version={T_ASSETS_VERSION}"></script>
<script type="text/javascript" src="./ext/micogian/lastpictures/includes/jcarousel.js?assets_version={T_ASSETS_VERSION}"></script>
<script type="text/javascript" src="./ext/micogian/lastpictures/includes/highslide-with-gallery.js?assets_version={T_ASSETS_VERSION}"></script>

<script type="text/javascript">
hs.graphicsDir = './ext/micogian/lastpictures/includes/graphics/';
hs.align = 'center';
hs.transitions = ['expand', 'crossfade'];
hs.outlineType = 'rounded-white';
hs.fadeInOut = true;
//hs.dimmingOpacity = 0.75;

// Add the controlbar
hs.addSlideshow({
	//slideshowGroup: 'group1',
	interval: 5000,
	repeat: false,
	useControls: true,
	fixedControls: 'fit',
	overlayOptions: {
		opacity: .75,
		position: 'bottom center',
		hideOnMouseOut: true
	}
});
</script>

