/*  Style lastpictures */

.nav-pictures {
    padding: 1px 10px;
}
ul.toptenlist li {
	display: block;
	list-style-type: none;
	margin: 0;
}
ul.toptenlist dl {
	position: relative;
}
ul.toptenlist li.row dl {
	padding: 0; 
}
ul.toptenlist dt, ul.toptenlist dd {
	display: block;
	float: left;
}
ul.toptenlist dt {
	width: 100%;
	margin-right: -440px;
	font-size: 1.1em;
}
ul.toptenlist dd {
	border-left: 1px solid transparent;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ul.toptenlist {
	display: block;
	list-style-type: none;
	margin: 0;
}
.nav-pictures > a{
	display: inline-block;
	margin: 0; 
	font-size: 1em;
	position: relative;
	/*width: 50px;*/
	line-height: 1em;
	text-decoration: none;
}
.nav-pictures > a:hover{
	color: #102589;
	text-decoration: none;
}
.link-pictures a{
	font-size: 1em;
	color: #59550C ! important;
	text-decoration: none;
}
.link-pictures a:hover{
	font-size: 1em;
	color: #FF0000 !important;
	text-decoration: none;
}
ul.linklist li.responsive-menu a.responsive-menu-link1:before {
	border-color: #FFFFFF; /*#105289;*/
}
ul.linklist li.responsive-menu a.responsive-menu-link1:hover:before, ul.linklist li.responsive-menu.visible a.responsive-menu-link1:before {
	border-color: #D31141;
}
.lastpictures-box{
	display: inline-block;
	width: 100%;
}
ul.linklist li.responsive-menu a.responsive-menu-link{
	display: inline-block;
	margin: 0;
	width: 50px;
	line-height: 1em;
	text-decoration: none;
}

ul.linklist li.responsive-menu a.responsive-menu-link:before {
	content: '';
	position: absolute;
	left: 0;
	top: 4px;
	height: .15em;
	width: 16px;
	border-bottom: 0.25em solid transparent;
	border-top: 0.60em double transparent;

ul.linklist > li {
	float: left;
	font-size: 1.1em;
	line-height: 1.3em;
	list-style-type: none;
	padding-top: 1px;
	width: auto;
}
ul.toptenlist l{
	list-style-type: none;
}
@media only screen and (max-width: 915px), only screen and (max-device-width: 915px)
{
	.lastpictures-box{
		display: none;
	}
	
}
